<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ec66">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import ec66 urdf file -->
    <xacro:include filename="$(find elite_description)/urdf/ec66_description.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="ec66.ros2_control.xacro" />


    <xacro:ec66_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
