<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ec66">

    <!-- Set use_gazebo = false for implementation on real rover -->
    <xacro:arg name="use_gazebo" default="false"/>

    <!-- Include macros -->
    <xacro:include filename="$(find elite_description)/urdf/macro/ec66_macro.urdf.xacro" />

    <!-- World Link and Joint -->
    <link name="world" />
    <joint name="world_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="world" />
        <child link="base_link" />
    </joint>

    <!-- Base Link -->
    <xacro:link_macro name="base_link" />

    <!-- Link1 and Joint1 -->
    <xacro:link_macro name="link1" />
    <xacro:joint_macro name="joint1" />

    <!-- Link2 and Joint2 -->
    <xacro:link_macro name="link2" />
    <xacro:joint_macro name="joint2" />

    <!-- Link3 and Joint3 -->
    <xacro:link_macro name="link3" />
    <xacro:joint_macro name="joint3" />

    <!-- Link4 and Joint4 -->
    <xacro:link_macro name="link4" />
    <xacro:joint_macro name="joint4" />

    <!-- Link5 and Joint5 -->
    <xacro:link_macro name="link5" />
    <xacro:joint_macro name="joint5" />

    <!-- Link6 and Joint6 -->
    <xacro:link_macro name="link6" />
    <xacro:joint_macro name="joint6" />

    <!-- Flange -->
    <link name="flange" />
    <joint name="flange_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="link6" />
        <child link="flange" />
    </joint>

    <!-- Include ros2_control configuration for simulation -->
    <xacro:if value="$(arg use_gazebo)">
        <xacro:include filename="$(find elite_description)/urdf/gazebo_ros2_control_ec66.urdf.xacro" />
    </xacro:if>

</robot>
